<html>
<header>
  <h1> Welcome to Battle! </h1>
</header>
  <body>
    <form action="/names" method="post">
      Player 1 Name:<br>
      <input type="text" name="player_1"><br>
      Player 2 Name:<br>
      <input type="text" name="player_2"><br>
      <input type="submit" value="Enter Battle">
    </form>
  </body>
</html>
