<!DOCTYPE html>
<html>
  <header>
    <title> Battle: Play </title>
  </header>
  <body>
    <h1>
      <%= @player_1 %> vs <%= @player_2 %>
    </h1>

    <div class="player_1">
      <b>
        <%= @player_1 %>:
      </b>
      100 Hit Points
    </div>
    <div class="player_2">
      <b>
        <%= @player_2 %>:
      </b>
      30 Hit Points
    </div>
  </body>
</html>
